@import 'nib'

@font-face
  font-family 'Life Savers'
  font-style normal
  font-weight 400
  src local('Life Savers'), local('LifeSavers'), url(http://themes.googleusercontent.com/static/fonts/lifesavers/v2/_yRJoxB8KMO25_gswqItc7rIa-7acMAeDBVuclsi6Gc.woff) format('woff')



body
  background-color #FFF
    
h1
  font-family 'Life Savers', cursive
  font-size 60px
  line-height 1em
  color #F5F5F5
  
h2
  font-family "HelveticaNeue-ExtraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 100
  font-size 42px
  line-height 1em
  color #F5F5F5
  
p
  font-family 'Life Savers', cursive
  font-size 32px
  color #FDFDFD
  
  &.instructions
    relative top 50px
    margin-bottom 50px
  
em
  color #F75390
  border-bottom 3px solid
  
input[type=text]
  height auto
  relative bottom 5px
  background none
  border none
  box-shadow none
  border-radius 0px
  border-bottom 1px solid #555
  
  font-family 'Life Savers', cursive
  font-size 48px
  color white
  
  &:focus
    box-shadow none
    
    
div.btn-group
  relative top 30px left 50px
  
  
input[type=submit]
  relative top 100px
  height 100px
  font-family 'Life Savers', cursive
  font-size 48px
  color white
    

div#heading
  relative top 50px
  
  h2
    relative top 20px
    text-shadow 2px 0px 10px #000
    
    &:before
      content: "By "
      font-weight 300

    
  button
    relative top 20px
    
  input[type=password]
    relative top 25px left 20px
    height auto
    background none
    border none
    box-shadow none
    border-radius 0px
    border-bottom 1px solid #555
    
    font-family 'Life Savers', cursive
    font-size 16px
    color white
    
    &:focus
      box-shadow none
    
#photos
  relative top 100px
  width 640px
  
  .photo
    margin-bottom 50px

    img
      margin-bottom 5px
      border-radius 2px
      background-color white
      border 1px solid rgba(0, 0, 0, 0.8)
      box-shadow 0 1px 3px rgba(0, 0, 0, 0.5)