@import 'nib'

@font-face
  font-family 'Duru Sans'
  font-style normal
  font-weight 400
  src local('Duru Sans'), local('DuruSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/durusans/v3/0rnIdjSQWlqFS5KpKzVfzrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')



body
  background-color #FFF
    
h1
  font-family 'Duru Sans', sans-serif
  font-size 42px
  line-height 1em
  color #F5F5F5
  
h2
  font-family "HelveticaNeue-ExtraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 100
  font-size 32px
  line-height 1em
  color #F5F5F5
  
p
  font-family 'Duru Sans', sans-serif
  font-size 28px
  color #FDFDFD
  
  &.instructions
    relative top 50px
    margin-bottom 50px
  
em
  color #F75390
  border-bottom 3px solid
  
input[type=text]
  height auto
  relative bottom 5px
  background none
  border none
  box-shadow none
  border-radius 0px
  border-bottom 1px solid #555
  
  font-family 'Duru Sans', sans-serif
  font-size 42px
  color white
  
  &:focus
    box-shadow none
    
    
div.btn-group
  relative top 30px left 50px
  
  
input[type=submit]
  relative top 50px
  height 100px
  font-family 'Duru Sans', sans-serif
  font-size 42px
  color white
    

div#heading
  relative top 50px
  
  h1
    relative bottom 10px
  
  h2
    text-shadow 2px 0px 10px #000
    
    &:before
      content: "By "
      font-weight 300

    
  input[type=password]
    relative bottom 20px left 20px
    height auto
    background none
    border none
    box-shadow none
    border-radius 0px
    border-bottom 1px solid #555
    
    font-family 'Duru Sans', sans-serif
    font-size 42px
    color white
    
    &:focus
      box-shadow none
      
    &::-webkit-input-placeholder
      font-size 16px
      relative top 30px
      
    &::-moz-placeholder
      font-size 16px
    
#photos
  relative top 100px
  width 640px
  
  .photo
    margin-bottom 50px

    img
      margin-bottom 5px
      border-radius 2px
      background-color white
      border 1px solid rgba(0, 0, 0, 0.8)
      box-shadow 0 1px 3px rgba(0, 0, 0, 0.5)
      
    .btn
      position absolute
      display none
      
      &:nth-child(3)
        absolute left 90px